.header-section-container {
  background-color: $background-1550;
  .header-section {
    padding: $standard-padding * 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .section-title {
      color: $accent-color-dark;
      text-transform: uppercase;
      margin: unset;
    }
    .expand {
      border: none;
      font-weight: 600;
      color: $text-color-1500;
      background-color: $accent-color-primary;
      font-size: 1rem;
      padding: $standard-padding * 1.5 $standard-padding * 4;
      cursor: pointer;
      border-radius: 30px;
      text-transform: uppercase;
      letter-spacing: 1.5px;
      text-align: center;
    }
  }
}
